<h1>Welcome to Business Mentor</h1>

<% if user_signed_in? %>

    <%=  'home/index' %>

    <% else %>
      <%= link_to 'users/sign_in' %>

  <% end %>

  <%= link_to 'Sign Out', destroy_user_session_path(@user), class: "btn btn-primary btn-sm" %>
