<h1>Welcome to Business Mentor</h1>

<% if user_signed_in? %>

    <%=  %>

    <% else %>
      <%= link_to 'users/sign_in' %>

  <% end %>

  <%= button_to 'Sign Out', class: "btn btn-primary btn-sm" %>
